
<div class="card align-items-center" style="width: 100%;">
    <h1>Your profile</h1>
      <%= image_tag current_user.image_path, style:"width: 500px;" %>
    <div class="card-body">
      <h2>Name: <%= current_user.first_name %></h2>
      <h2>Surname: <%= current_user.last_name %></h2>
      <h2>Gender: <%= current_user.gender %></h2>
    </div>
   <%= link_to "Edit profile",  edit_user_registration_path, class:"btn btn-success" %>
</div>

<% current_user.pokemons.each do |pokemon| %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card" style="width: 100%;">
      <%= image_tag('pikachu.png') %>
      <div class="card-body">
        <h5 class="card-title"><%= pokemon.name %></h5>
        <p class="card-text">Location: <%= pokemon.location %></p>
        <p class="card-text">Element: <%= pokemon.element %></p>
        <p class="card-text">User: <%= pokemon.user.first_name %></p>
        <a href="#" class="btn btn-primary">Click me</a>
      </div>
    </div>
  </div>
<% end %>
