<%= link_to "#card-index-#{pokemon.id}", class:"link-card" do %>
  <p class="card-text" style="font-size: 16px;">Pokemon: <%= pokemon.name %></p>
  <p class="card-text" style="font-size: 14px;"><i class="fa-solid fa-location-pin"></i> <%= pokemon.address %></p>
  <p class="card-text" style="font-size: 14px;"><i class="fa-brands fa-elementor"></i> <%= pokemon.element %></p>
  <p class="card-text" style="font-size: 14px;"><i class="fa-brands fa-battle-net"></i> <%= pokemon.move %></p>
<% end %>
