<div class="banner text-center" style="background-image: url(<%= asset_path('background_image_v2.jpg') %>);">
  <div class="container">
    <h1 class="py-4">Gotta Beat 'Em All!</h1>
    <a class="btn btn-primary" href="#">Search now</a>
    <%# <%= form_for  <--This is later for search %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container my-3">
        <div class="row g-3">
          <% @pokemons.each do |pokemon| %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card rounded border-warning shadow-sm" style="width: 100%;">
                <%= image_tag('pikachu.png') %>
                <div class="card-body">
                  <h5 class="card-title"><%= pokemon.name %></h5>
                  <p class="card-text">Address: <%= pokemon.address %></p>
                  <p class="card-text">Element: <%= pokemon.element %></p>
                  <p class="card-text">User: <%= pokemon.user.first_name %></p>
                  <%= link_to "View me!", pokemon_path(pokemon), class: 'btn btn-outline-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div id="map" style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
