<div class="banner" style="background-image: url(<%= asset_path('background.png') %>);">
  <div class="container">
    <h1>Look for pokemons around you!</h1>
    <a class="btn btn-flat" href="#">Search now</a>
  </div>
</div>

<div class="container">
  <div class="row g-3">
    <% @pokemons.each do |pokemon| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="width: 100%;">
          <%= image_tag('pikachu.png') %>
          <div class="card-body">
            <h5 class="card-title"><%= pokemon.name %></h5>
            <p class="card-text">Location: <%= pokemon.location %></p>
            <p class="card-text">Element: <%= pokemon.element %></p>
            <p class="card-text">User: <%= pokemon.user.email %></p>
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
