<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pokemonrevolution.net/forum/uploads/monthly_2019_07/grasspokes.gif.f4c3e5db10fdcb5bc0f9fb101c54debd.gif)">
  Let's play with <%= @pokemon.name %>
</div>

<div class="container mt-5">
  <div class="row g-5 pb-3">
    <div class="col-sm-12 col-lg-6 px-5">
      <div class="card-show" style="width: 100%;">
       <% if @pokemon.image_path %>
          <%= image_tag @pokemon.image_path %>
        <% else %>
          <%= cl_image_tag @pokemon.photo.key %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= @pokemon.name %></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> 📍 Location: <%= @pokemon.address %></li>
          <li class="list-group-item"> ⚛️ Element: <%= @pokemon.element %></li>
          <li class="list-group-item"> ⚡️ Move: <%= @pokemon.move %></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 px-5">
      <div class="container">
        <div class="row">
          <div class="col-12 px-3">
            <div class="card-profile">
                <h4 class="fw-bolder">Meet The Trainer</h4>
                <% if @pokemon.user.photo.attached? %>
                  <%= cl_image_tag @pokemon.user.photo.key, class:"profile-img" %>
                <% else %>
                  <%= image_tag @pokemon.user.image_path, class:"profile-img" %>
                <% end %>
                <div class="card-body mt-1">
                  <div class="pb-3"style="border-bottom: 1px solid grey !important;">
                    <%= image_tag "poke-profile.png", class:"poke-profile-img"%> Pokemons: <%= @pokemon.user.pokemons.length %> <br>
                    <i class="fa-solid fa-star pt-3" style="font-size: 24px;"></i> Reviews: <%= @pokemon.user.reviews.length %> <br>
                  </div>
                  <p class="pt-3">Name: <%= @pokemon.user.first_name %></p>
                  <p>Surname: <%= @pokemon.user.last_name %></p>
                </div>
              </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 px-3">
            <div class="booking-form" >
              <% if user_signed_in? %>
                <h4 class="fw-bolder"> Book A Battle </h4>
                  <%= simple_form_for [@pokemon, @booking] do |f| %>
                    <div class="form-inputs">
                        <%= f.input :date, html5: true %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Good to go", class: "btn btn-primary" %>
                    </div>
                  <% end %>
              <% else %>
                <h1>Please log in to book a battle!</h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 border-top pt-5">
  <h4 class="fw-bolder text-center"> <%= "Tell us the good time you had with #{@pokemon.name}!" %> </h4>
    <div class="row">
      <div class="col-4">
        <%= simple_form_for [@pokemon, @review] do |f| %>
        <div class="form-inputs">
            <%= f.label :content, "Review" %>
            <%= f.input :content, placeholder: 'Such a cool Pokémon to battle!', label: false %>
            <%= f.label :rating, "Rating" %>
            <%= f.input :rating, placeholder: "1-5", label: false %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Rate this Pokémon", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <div class="container">
          <div class="row">
            <% @pokemon.reviews.each do |review| %>
              <div class="col-sm-12 col-md-6 col-lg-6 g-3">
                <div class="shadow-sm px-3 pt-3 pb-1 bg-white">
                  <h4><%= "⭐️" * review.rating %></h4>
                  <p><em>"<%= review.content %>"</em></p>
                  <p class="opacity-25">Posted on <%= review.created_at.strftime("%d %B %Y ") %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
