<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pokemonrevolution.net/forum/uploads/monthly_2019_07/grasspokes.gif.f4c3e5db10fdcb5bc0f9fb101c54debd.gif)">
  Let's play
</div>


<div class="container mt-5">
  <div class="row g-5">

    <div class="col-12 col-lg-3 px-3">
      <div style ="backgroud-color: tomato;">
        <% if user_signed_in? %>
          <h3>Book this Pokémon!</h3>
            <%= simple_form_for [@pokemon, @booking] do |f| %>
              <div class="form-inputs">
                <%= f.input :date %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Book this Pokémon", class: "btn btn-primary" %>
              </div>
            <% end %>
        <% else %>
          <h1>Please log in to book a battle!</h1>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 px-5">
      <div class="card" style="width: 100%; boarder: 1px solid black;">
       <%= image_tag('pikachu.png') %>
        <div class="card-body">
          <h2 class="card-title"><%= @pokemon.name %></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: <%= @pokemon.address %></li>
          <li class="list-group-item">Element: <%= @pokemon.element %></li>
          <li class="list-group-item">Move: <%= @pokemon.move %></li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-lg-3 px-3">
      <h3>About the owner</h3>
      <div class="card-profile">
          <% if @pokemon.user.photo.attached? %>
            <%= cl_image_tag @pokemon.user.photo.key, class:"profile-img" %>
          <% else %>
            <%= image_tag @pokemon.user.image_path, class:"profile-img" %>
          <% end %>
          <div class="card-body">
            <div class="pb-3"style="border-bottom: 1px solid grey !important;">
              <%= image_tag "poke-profile.png", class:"poke-profile-img"%> Pokemons: <%= @pokemon.user.pokemons.length %> <br>
              <i class="fa-solid fa-star pt-3" style="font-size: 24px;"></i> Reviews: <%= @pokemon.user.reviews.length %> <br>
            </div>
            <p>Name: <%= @pokemon.user.first_name %></p>
            <p>Surname: <%= @pokemon.user.last_name %></p>
          </div>
          </div>
    </div>


  </div>
  <div>
    <div class="form-floating my-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Review this pokemon</label>
    </div>
  </div>
</div>
