<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pokemonrevolution.net/forum/uploads/monthly_2019_07/grasspokes.gif.f4c3e5db10fdcb5bc0f9fb101c54debd.gif)">
  Let's play
</div>

<div class="container mt-5">
  <div class="row g-5">

    <div class="col-12 col-lg-3 px-3">
      <div style ="backgroud-color: tomato;">
        <% if user_signed_in? %>
          <h3 class="fw-bolder">Book this Pokémon!</h3>
            <%= simple_form_for [@pokemon, @booking] do |f| %>
              <div class="form-inputs">
                <%= f.input :date %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Book this Pokémon", class: "btn btn-primary" %>
              </div>
            <% end %>
        <% else %>
          <h1>Please log in to book a battle!</h1>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 px-5">
      <div class="card" style="width: 100%; boarder: 1px solid black;">
       <% if @pokemon.image_path %>
          <%= image_tag @pokemon.image_path %>
        <% else %>
          <%= cl_image_tag @pokemon.photo.key %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= @pokemon.name %></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: <%= @pokemon.address %></li>
          <li class="list-group-item">Element: <%= @pokemon.element %></li>
          <li class="list-group-item">Move: <%= @pokemon.move %></li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-lg-3 px-3">
      <h3 class="fw-bolder">About the owner</h3>
      <div class="card-profile">
          <% if @pokemon.user.photo.attached? %>
            <%= cl_image_tag @pokemon.user.photo.key, class:"profile-img" %>
          <% else %>
            <%= image_tag @pokemon.user.image_path, class:"profile-img" %>
          <% end %>
          <div class="card-body">
            <div class="pb-3"style="border-bottom: 1px solid grey !important;">
              <%= image_tag "poke-profile.png", class:"poke-profile-img"%> Pokemons: <%= @pokemon.user.pokemons.length %> <br>
              <i class="fa-solid fa-star pt-3" style="font-size: 24px;"></i> Reviews: <%= @pokemon.user.reviews.length %> <br>
            </div>
            <p class="pt-3">Name: <%= @pokemon.user.first_name %></p>
            <p>Surname: <%= @pokemon.user.last_name %></p>
          </div>
          </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <h1 class="fw-bold">Review this Pokémon!</h1>
        <%= simple_form_for [@pokemon, @review] do |f| %>
        <div class="form-inputs">
            <%= f.input :content, placeholder: 'Such a cool Pokémon!' %>
            <%# FOR TEAM (FROM JOHAN): Lines 79-96 are WIP – can bring back in if we can get it working %>
            <%# <div class="stars stars-example-css">
              <div class="br-wrapper br-theme-css-stars">
                <select id="rating-stars" name="rating" autocomplete="off">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <div class="br-widget">
                  <a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
                  <a href="#" data-rating-value="2" data-rating-text="2" class="br-selected br-current"></a>
                  <a href="#" data-rating-value="3" data-rating-text="3" class="br-selected br-current"></a>
                  <a href="#" data-rating-value="4" data-rating-text="4" class="br-selected br-current"></a>
                  <a href="#" data-rating-value="5" data-rating-text="5" class="br-selected br-current"></a>
                </div>
              </div>
            </div> %>
            <%= f.input :rating %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Rate this Pokémon", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <div class="container">
          <div class="row">
            <% @pokemon.reviews.each do |review| %>
              <div class="col-sm-12 col-md-6 col-lg-6 g-3">
                <div class="shadow-sm px-3 py-2 bg-white">
                  <p><%= "⭐️" * review.rating %></p>
                  <p><em>"<%= review.content %>"</em></p>
                  <p class="opacity-25"><%= review.created_at.strftime("%d %B %Y ") %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
